
.logo{
    width: 100px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: azure;

}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: center;
    gap: 30px;
}

.ppal{
    background-color: #678ef0;
    font-family: sans-serif;
    color: white;
    background-image: url("../images/premium_dancer.png");
    height: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-content: space-around;

}

.texto {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto h1  {
    font-size: 100px;
}

.ppal .button a {
    background-color: #2dad65;
    display: inline-block;
    padding: 10px 50px;
    margin-left: 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: x-small;
}

.secundaria {
    width: 100%;
    display: block;
    margin: 100px;
    
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: space-around;

}

.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: solid 3px black;
    font-size: small;
    
    
}

.icons img {
    width: 150px;

}

.secundaria h2 {
    text-align: center;
    font-size: xx-large;
}